.message{data: {message: {id: message.id}}}
  %ul.mainbar__body__posts--post
    %ls.mainbar__body__posts--post-1
      .mainbar__body__posts--post-1--p1
        .mainbar__body__posts--post-1--p1-name1
          = message.user.name
        .mainbar__body__posts--post-1--p1-date1
          = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .mainbar__body__posts--post-1--p2
        - if message.content.present?
          %p.mainbar__body__posts--post-1--p2__content
            = message.content
        = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
